################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OwnLogger.Api/.vs/OwnLogger.Api
/OwnLogger.Api/obj
/OwnLogger.Business/.vs/OwnLogger.Business
/OwnLogger.Business/obj
